{% extends 'base.html.twig' %}

{% block title %}GOES - Gymnasiast’s Object Editor Site{% endblock %}
{% block content %}

    <h1>Welcome to Gymnasiast’s Object Editor Site!</h1>

    <p>Over time, this site should allow you to make all kinds of OpenRCT2 objects easily.</p>

    <p>Currently, you can create <a href="/music">music objects</a> and <a href="/scenery-group">scenery group objects</a>.</p>

{% endblock %}


